<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cnam.vuzix">

    <application
        android:name=".DynamicTheme"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data android:name="com.vuzix.icon.tint" android:value="true" />


        <receiver android:name=".Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DynamicThemeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vuzix.intent.action.UI_DISPLAY_MODE" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="com.vuzix.icon.tint" android:value="true" />
        </activity>

        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/widget_info" />

        <meta-data
            android:name="com.vuzix.launcher.widget"
            android:value="com.cnam.vuzix.MainActivity" />

    </application>

</manifest>